* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.d-flex {
    display: flex;
}

.x-center {
    justify-content: center;
}

.y-center {
    align-items: center;
}

.t-center {
    text-align: center;
}

.flex-column {
    flex-direction: column;
}

.space-a {
    justify-content: space-around;
}

.shadow {
    box-shadow: 1px 1px 12px #555;
}

header {
    background-color: rgb(140, 42, 135);
    height: 40px;
}

body {
    height: 100vh;
}

.p-header {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.container {
    height: 200px;
    width: 500px;
    border-radius: 3%;
}

.main-container {
    flex: 1;
}

#form {
    padding: 0 1rem;
}

#champ {
    text-decoration: none;
    flex: 1;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 1%;
}

#bouton {
    background-color: rgb(140, 42, 135);
    color: white;
    border-style: none;
    margin-left: 10px;
}

footer {
    background-color: rgb(50, 47, 61);
    height: 40px;
    justify-content: flex-end;
}

.p-footer {
    color: white;
    margin-right: 20px;
}

.toggleBackground:nth-child(even) {
    background-color: rgb(235, 235, 235);
    min-width: 100%;
}

.container {
    
}

.row {
    flex-direction: row;
    margin-top: 0.5rem;
}

.col1 {
    min-width: 50%;
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.col2 {
    width: 100px;
    margin-right: 0.5rem;
    background-color: rgb(143, 41, 143);
    border-radius: 3px;
    font-weight: bold;
}

.col3 {
    width: 100px;
    margin-right: 0.5rem;
    background-color: orangered;
    border-radius: 3px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

.cancel {
    text-decoration: line-through;
}